
<div class="min-h-full">
  <app-menu></app-menu>

  <div class="py-10">
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>  
</div>
