<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

    <div (click)="cancelEmployee()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div class="bg-gray-50">
        <div class="max-w-2xl mx-auto pt-4 pb-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">

          <form method="POST" [formGroup]="employeeForm" (ngSubmit)="submit()">

            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
              <div class="mt-1">
                <input type="text" name="name" id="name" formControlName="name" class="h-10 pl-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="The name goes here" required>
              </div>

              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-red-500 mt-2">
                <div *ngIf="name?.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="name?.errors?.['minlength']">
                  Name must be at least 3 characters long.
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="employeeId" class="block text-sm font-medium text-gray-700">Employee number</label>
              <div class="mt-1">
                <input type="text" name="employeeId" id="employeeId" formControlName="employeeId" class="h-10 pl-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="The employee id goes here" required>
              </div>

              <div *ngIf="employeeId?.invalid && (employeeId?.dirty || employeeId?.touched)" class="text-red-500 mt-2">
                <div *ngIf="employeeId?.errors?.['required']">
                  EmployeeId is required.
                </div>
                <div *ngIf="employeeId?.errors?.['minlength']">
                  EmployeeId must be at least 9 characters long.
                </div>
                <div *ngIf="employeeId?.errors?.['pattern']">
                  EmployeeId must start with "klm" and end with 6 digits.
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
        <button type="button" [disabled]="!employeeForm.valid" (click)="submit()" [ngClass]="{'opacity-50': !employeeForm.valid}" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">
          {{ employee.id ? "Update" : "Create"}}
        </button>
        <button type="button" (click)="cancelEmployee()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
