<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

    <div (click)="cancelHoliday()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div class="bg-gray-50">
        <div class="max-w-2xl mx-auto pt-4 pb-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">

          <form method="POST" [formGroup]="holidayForm" (ngSubmit)="submit()">

            <div>
              <label for="label" class="block text-sm font-medium text-gray-700">Label</label>
              <div class="mt-1">
                <input type="text" name="label" id="label" formControlName="label" class="h-10 pl-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="The label goes here" required>
              </div>

              <div *ngIf="label?.invalid && (label?.dirty || label?.touched)" class="text-red-500 mt-2">
                <div *ngIf="label?.errors?.['required']">
                  Name is required.
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="startOfHoliday" class="block text-sm font-medium text-gray-700">Start of holiday</label>
              <div class="mt-1">
                <input type="date" name="startOfHoliday" id="startOfHoliday" formControlName="startOfHoliday" class="h-10 pl-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" required>
              </div>

              <div *ngIf="startOfHoliday?.invalid && (startOfHoliday?.dirty || startOfHoliday?.touched)" class="text-red-500 mt-2">
                <div *ngIf="startOfHoliday?.errors?.['required']">
                  The start of the holiday is required.
                </div>
                <div *ngIf="startOfHoliday?.errors?.['pattern']">
                  The start of the holiday has to be in this format (dd/mm/yyyy).
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="endOfHoliday" class="block text-sm font-medium text-gray-700">End of holiday</label>
              <div class="mt-1">
                <input type="date" name="endOfHoliday" id="endOfHoliday" formControlName="endOfHoliday" class="h-10 pl-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" required>
              </div>

              <div *ngIf="endOfHoliday?.invalid && (endOfHoliday?.dirty || endOfHoliday?.touched)" class="text-red-500 mt-2">
                <div *ngIf="endOfHoliday?.errors?.['required']">
                  The end of the holiday is required.
                </div>
                <div *ngIf="endOfHoliday?.errors?.['pattern']">
                  The end of the holiday has to be in this format (dd/mm/yyyy).
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
              <select id="status" name="status" formControlName="status" class="bg-white mt-1 block w-full pl-1 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                <option *ngFor="let status of getHolidayStates()" [ngValue]="status">{{ status }}</option>
              </select>

              <div *ngIf="status?.invalid && (status?.dirty || status?.touched)" class="text-red-500 mt-2">
                <div *ngIf="status?.errors?.['required']">
                  State is required.
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="employee" class="block text-sm font-medium text-gray-700">Employee</label>
              <select id="employee" name="employee" formControlName="employee" [(ngModel)]="holiday.employee.id" placeholder="Select an employee" class="bg-white mt-1 block w-full pl-1 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                <option value="" selected>Select an employee</option>
                <option *ngFor="let employee of employees" [ngValue]="employee.id">{{ employee.name }} ({{ employee.employeeId }})</option>
              </select>

              <div *ngIf="employee?.invalid && (employee?.dirty || employee?.touched)" class="text-red-500 mt-2">
                <div *ngIf="employee?.errors?.['required']">
                  Employee is required.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
        <button type="button" [disabled]="!holidayForm.valid" (click)="submit()" [ngClass]="{'opacity-50': !holidayForm.valid}" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">
          {{ holiday.id ? "Update" : "Create"}}
        </button>
        <button type="button" (click)="cancelHoliday()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
