<nav class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <app-logo [classes]="['block', 'lg:hidden', 'h-8 w-auto']" ></app-logo>
          <app-logo [classes]="['hidden', 'lg:block', 'h-8 w-auto']"></app-logo>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="border-indigo-500 text-gray-900" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page">Employees</a>
          <a routerLink="/holidays" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="border-indigo-500 text-gray-900" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page">Holidays</a>
        </div>
      </div>
      <div class="-mr-2 flex items-center sm:hidden">
        <button type="button" (click)="toggleMenu()" class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" [ngClass]="{block: !menuOpen, hidden: menuOpen}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class=" h-6 w-6" [ngClass]="{hidden: !menuOpen, block: menuOpen}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="sm:hidden" id="mobile-menu" [ngClass]="{block: menuOpen, hidden: !menuOpen}">
    <div class="pt-2 pb-3 space-y-1">
      <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="bg-indigo-50 border-indigo-500 text-indigo-700" class="border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium" aria-current="page">Employees</a>
      <a routerLink="/holidays" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="bg-indigo-50 border-indigo-500 text-indigo-700" class="border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium" aria-current="page">Holidays</a>
    </div>
  </div>
</nav>
