
<svg [ngClass]="classes" width="350pt" height="204pt" viewBox="0 0 350 204" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <g id="color_00a1e4ff">
  <path fill="#00a1e4" opacity="1.00" d=" M 168.52 0.00 L 179.50 0.00 C 179.59 3.73 179.58 7.45 179.56 11.18 C 183.23 11.17 186.91 11.19 190.58 11.16 C 190.61 14.82 190.61 18.48 190.50 22.14 C 186.86 22.14 183.21 22.16 179.57 22.14 C 179.57 25.74 179.56 29.35 179.59 32.96 C 175.97 33.19 172.35 33.14 168.73 33.11 C 168.71 29.45 168.71 25.78 168.69 22.11 C 165.01 22.16 161.34 22.14 157.67 22.15 C 157.61 18.50 157.62 14.84 157.61 11.19 C 161.31 11.18 165.01 11.17 168.70 11.19 C 168.62 7.46 168.95 3.71 168.52 0.00 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 104.94 30.91 C 116.00 28.25 128.14 37.45 127.90 48.96 C 128.75 59.02 119.95 68.45 109.94 68.64 C 100.97 69.41 92.19 62.80 90.30 54.04 C 87.53 44.02 94.77 32.80 104.94 30.91 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 148.91 30.89 C 159.96 28.27 172.14 37.49 171.83 49.00 C 172.72 59.35 163.30 68.94 153.01 68.67 C 143.93 69.06 135.45 61.93 134.02 53.00 C 131.99 43.19 139.08 32.72 148.91 30.89 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 192.90 30.91 C 203.62 28.36 215.33 36.93 215.74 48.02 C 216.60 55.55 212.29 63.12 205.60 66.55 C 198.57 70.34 189.26 69.00 183.53 63.46 C 177.10 57.44 175.76 46.84 180.58 39.45 C 183.29 35.08 187.83 31.88 192.90 30.91 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 236.96 30.89 C 246.57 28.73 256.99 35.30 259.20 44.90 C 261.13 52.29 258.19 60.60 251.96 65.05 C 246.17 69.37 237.86 69.91 231.56 66.38 C 224.68 62.81 220.59 54.70 221.78 47.05 C 222.69 39.16 229.13 32.28 236.96 30.89 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 108.47 96.38 C 108.19 88.74 108.32 81.08 108.40 73.44 C 152.37 73.57 196.34 73.47 240.31 73.49 C 240.32 81.10 240.32 88.70 240.31 96.30 C 196.36 96.35 152.41 96.20 108.47 96.38 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 0.00 115.75 C 11.10 115.75 22.20 115.74 33.31 115.76 C 33.33 126.38 33.29 137.01 33.32 147.64 C 44.33 137.10 55.09 126.31 66.10 115.77 C 77.29 115.74 88.48 115.74 99.67 115.77 C 86.77 128.88 73.52 141.65 60.72 154.85 C 76.85 170.49 92.43 186.71 108.70 202.18 C 108.84 173.38 108.72 144.57 108.76 115.76 C 120.11 115.74 131.46 115.74 142.81 115.76 C 142.81 137.61 142.79 159.46 142.81 181.31 C 160.94 181.26 179.06 181.37 197.18 181.25 C 197.43 188.66 197.22 196.08 197.30 203.49 C 153.24 203.49 109.17 203.53 65.11 203.47 C 54.69 192.92 44.13 182.51 33.66 172.01 C 33.51 182.52 33.68 193.02 33.57 203.53 C 22.38 203.45 11.19 203.54 0.00 203.48 L 0.00 115.75 Z" />
  <path fill="#00a1e4" opacity="1.00" d=" M 206.63 115.75 C 224.91 115.69 243.19 115.87 261.47 115.66 C 267.24 131.35 272.29 147.31 277.74 163.12 C 278.19 162.41 278.83 161.81 279.06 160.98 C 284.27 145.89 289.60 130.84 294.86 115.76 C 313.24 115.74 331.62 115.73 350.00 115.77 L 350.00 203.43 C 338.75 203.57 327.49 203.48 316.24 203.48 C 316.22 183.30 316.34 163.11 316.18 142.92 C 314.61 143.80 314.45 145.79 313.78 147.28 C 307.25 166.03 300.55 184.72 294.02 203.47 C 283.44 203.47 272.85 203.61 262.28 203.40 C 255.65 184.23 248.79 165.15 242.10 146.01 C 241.86 144.94 241.26 144.16 240.32 143.66 C 240.29 163.60 240.33 183.55 240.31 203.50 C 229.08 203.50 217.85 203.50 206.62 203.49 C 206.64 174.25 206.61 145.00 206.63 115.75 Z" />
  </g>
</svg>

